.popup__btn-save {
  /* width: 358px;
  height: 50px; */
  /* margin: 23px auto 0; */
  padding: 14px 0 14px;
  border: none;
  background: #000000;
  border-radius: 2px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  text-align: center;
  color: #FFFFFF;
  margin-top: 20px;
}

.popup__btn-save:hover {
  background: rgba(0, 0, 0, 80%);
  cursor: pointer;
}

@media screen and (max-width: 660px) {
  .popup__btn-save {
    /* width: 238px;
    height: 46px; */
    /* margin: 44px 0 0; */
    font-size: 14px;
    line-height: 17px;
    margin-top: 18px;
  }
}