.header__logo {
  max-width: 142px;
  max-height: 33px;
  margin-bottom: 37px;
}

@media screen and (max-width: 599px) {
  .header__logo {
    max-width: 104px;
    max-height: 24.4px;
    margin: 0 auto 26px 27px;
  }
}