.popup__container {
  width: 430px;
  /* margin: auto; */
  padding: 34px 36px 37px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
}

@media screen and (max-width: 660px) {
  .popup__container {
    width: 282px;
    padding: 25px 22px;
  }
}