.popup__input {
  min-width: 358px;
  min-height: 23px;
  padding: 0 0 4px;
  border: 0;
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
}
.popup__input:focus {
  outline: 0;
  border: 3px solid #79bcf6;
  border-radius: 2px;
}

@media screen and (max-width: 660px) {
  .popup__input {
    min-width: 238px;
  }
}